@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;

.apartment_slider {
  .title {
    justify-content: $space_between;

    @media (max-width: 768px) {
      flex-direction: $flex_direction_column;
      align-items: $flex_center;
    }

    .title_text {
      p,
      h1 {
        text-align: $text_align_left;
        @media (max-width: 768px) {
          text-align: $text_align_center;
        }
      }
    }
  }

  .item {
    margin-bottom: 40px;

    .item_main {
      width: 90%;
      border-radius: $border-radius;
      z-index: 999;
      overflow: $overflow_hidden;
      box-shadow: 0px 10px 20px 0px #181a200d;
      @media (max-width: 600px) {
        width: 100%;
      }
      .item_img {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .item_text {
        background-color: $white-clr;
        padding: 15px;
      }
    }
  }
}
