@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;

.best_deal{
    background-color: $pink-clr;
    .title {
      justify-content: space-between;

      .title_text{
        h1,p{
            color: $white-clr
        }
      }
  
      .best_deal_tabs {
        .tab_button {
          @include fill_Button($btn-bg-color:#FFFFFF1A, $hover-btn-bg-color: $white-clr, 
          $hover-btn-color: $pink-clr,
          $hover-border-clr: $white-clr, );
  
          &.active {
            background: $white-clr;
            color: $pink-clr;
          }
  
         
        }
      }
    }
  
    .best_deal_tab_content {
      margin-top: 2rem;
      
      .tab_content {
        display: none;
  
        &.active {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
  
        .deal_card {
          margin-bottom: 40px;
          transition: transform 0.3s ease;
          width: 23%;
          height: max-content;
          border-radius: $border-radius;
          overflow: hidden;
          box-shadow: 0px 1px 4px 0px #181A2012;
          
          @media (max-width: 1200px) {
              width: 30%;}
              @media (max-width: 1024px) {
                width: 48%;}
          &:hover {
            transform: translateY(-5px);
          }
          .deal_card_main{
              background-color: $white-clr;
          }

            .deal_card_img{
                img{
                    width: 100%;
                }
              }
            .deal_card_text{
                padding: 5px 15px 20px 15px;
                flex-wrap: nowrap;

                h3{
                    line-height: 25px;
                }

                .deal_card_detail{
                    display: flex;
                    justify-content: space-between;
                    @include typography();
                    >span{
                        color: $pink-clr
                    };

                    .iconsNumbers{                
                        span{
                            margin-left: 10px;
                            font-weight: 400;
                            
                        }
                    }
                }
            }  
        }
      }
    }
  }

  @media (max-width: 768px) {
    .best_deal{
        .title{
            flex-direction: column;
            align-items: center;
            .title_text {
                p{
                    text-align: center;
                }
            }
        }
    }
  }
  @media (max-width: 600px) {
    .best_deal .best_deal_tab_content .tab_content .deal_card {
        width: 100%;
    }
}
  
 