@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;

.brand_slider_sec {
  padding-top: 30px;
  .title_text {
    p {
      text-align: $text_align_center;
    }
  }
  .brand_slider {
    margin-top: 60px;
    overflow: $overflow_hidden;
    .brand_logo {
      display: $display_flex;
      justify-content: $flex_center;
    }
  }
}
