@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;


.client_reviews{
    .title_text{
        p{
            text-align: center;
        }
    }
    .user_item{
        margin-bottom: 40px;
        .user_item_main{
            width: 95%;
            border-radius: $border-radius;
            z-index: 999;
            overflow: hidden;
            border: 1px solid #E9E9E9;
            padding: 30px 20px 30px 30px;

            .qoute{
                display: flex;
                justify-content: flex-end;

                i{
                    font-size: 30px;
                    color: $footer-text-clr;
                }
            }
            .user{
                display: flex;

                .user_img{
                    margin-right: 15px;
                    img{
                        border-radius: 50%;
                        width: 100%;
                    }
                }

                .user_name{
                    h4{
                        @include typography();
                    }
                    p{
                        @include typography();
                        color: $text-clr;
                        font-weight: 400;
                        line-height: 15px;
                    }
                }
                
            }
            .user_review{
                margin-top: 20px;
                p{
                    font-weight: 400;
                }
            }

        }
    }
}