@use './abstracts/mixins' as *;
@use './abstracts/variables' as *;

.heroSection {
    background: url(../public/images/heroSection.png);
    width: 100%;
    height: 100vh;
    @include backgroundImage();
    position: relative;

    .container {
        width: 80%;
        margin: 0 auto;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: $border-radius;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 50%);

        .tabs {
            width: 100%;

            .tab-list {
                display: flex;
                justify-content: space-around;
                margin-bottom: -1px;
                width: fit-content;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                background-color: $white-clr;

                .tab {
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: 0.3s;
                    @include typography();

                    &.active {
                        background-color: $white-clr;
                        color: $black-clr;
                        border-bottom: 1px solid $black-clr;
                    }

                    &.muted {
                        color: $text-clr;
                        pointer-events: none;
                        background-color: #F7F7F7;
                    }

                    &:first-child {
                        border-top-left-radius: $border-radius;
                    }

                    &:last-child {
                        border-top-right-radius: $border-radius;
                    }
                }
            }

            .tab-content {
                display: none;
                padding: 20px;

                &.active {
                    display: block;
                    background-color: $white-clr;
                    border-radius: $border-radius;
                    border-top-left-radius: 0px;
                    box-shadow: 0px 10px 40px 0px #181A2012;
                }
            }

            .muted {
                color: #bbb;
            }

            .search-form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;

                .search-box {
                    display: flex;
                    flex-direction: column;
                    width: 20%;
                }

                .search-box,
                .select-box,
                .price-box {
                    label {
                        @include typography();
                    }
                }

                .select-box,
                .price-box {
                    display: flex;
                    flex-direction: column;
                    width: 18%;
                }

                .select-box select,
                .price-box input,
                .search-box input {
                    border-bottom: 1px solid transparent;
                    padding: 8px;
                }
                .select-box select:hover,
                .select-box select:focus,
                .price-box input:hover,
                .price-box input:focus,
                .search-box input:focus,
                .search-box input:hover {
                    border-bottom: 1px solid $black-clr;
                }

                .select-box select {
                    padding: 8px;
                    appearance: none;
                    position: relative;
                }

                .select-box::before {
                    content: "";
                    content: "";
                    position: absolute;
                    right: 9%;
                    pointer-events: none;
                    bottom: 26%;
                    width: 10px;
                    height: 4px;
                    background: $black-clr;
                    z-index: 10;
                }

                .price-box {
                    display: flex;
                    gap: 5px;

                    .price_range {
                        display: flex;
                        justify-content: space-between;

                        >input {
                            padding: 8px;
                            width: 40%;
                        }

                        #min-price {
                            width: 20%;
                        }

                        span {
                            font-size: 18px;
                            color: $black-clr;
                        }
                    }
                }

                .search-box,
                .select-box,
                .price-box {
                    position: relative;
                    padding-right: 20px;
                }

                .search-box::after,
                .select-box::after,
                .price-box::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0%;
                    transform: translateX(-50%);
                    width: 1px;
                    height: 90%;
                    background-color: #E9E9E9;
                    display: block;
                    margin-left: 10px
                }


                .advanced {
                    .muted-text {
                        @include typography();
                        color: $black-clr;

                        i {
                            margin-right: 5px;
                        }
                    }
                }

                .search-btn {
                    display: flex;
                    align-items: center;
                    border-radius: $border-radius;
                    @include fill_Button();
                    gap: 10px;

                    .search-icon {
                        color: $white-clr;
                        margin-right: 5px;
                    }
                }
            }

        }
    }
}