@use './abstracts/mixins';

*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
body{
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

p{
    @include mixins.typography()

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}        
